html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#343433;
}
#menucima {
    display: flex;
    background-color: #343433;
    margin: 0;
}
#menucima li {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#menucima li:first-child {
    margin-right: auto;
}
.section1 {
    display: flex;
    height: 70vh;
    background-color: #5d5d5d;
    color: white;
}
.centro {
    margin: auto;
    text-align: center;
}
.section2 {
    display: flex;
    background-color:#343433;
    width: 100%;
}
.imagens {
    width: 12vw;
    height: 12vw;
    padding-left: 15px;
}
.section3 {
    display: flex;
    background-color:#343433;
    width: 100%;
}
footer {
    background-color: black;
    padding: 30px;
    color: white;
}
#menucima a:link, a:visited, a:active {
  background-color: #343433;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#menucima a:hover {
  background-color: #696954;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#contato a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;
}